<footer>
    <div class="row">
        <div class="column">Ramsés II - El Gran ancestro</div>
    </div>
    <div class="row">
        <div class="column">2022 &copy; Francisco Miguel Biete Ba&ntilde;&oacute;n</div>
        <div class="column text-right">M4.257 Herramientas HTML y CSS</div>
    </div>
</footer>