<header>
    <nav>
        <ul>
            <li><a href="index.html">Rams&eacute;s II</a></li>
            <li><a href="presentacion.html">Introducci&oacute;n</a></li>
            <li class="active"><a href="categoria.html">Vida y Eventos</a></li>
            <li><a href="enlaces.html">Referencias</a></li>
        </ul>
    </nav>
    <hr>
    <nav>
        <ul id="submenu">
            <li><a href="antecedentes.html">Antecendentes</a></li>
            <li><a href="reyguerrero.html">El rey guerrero</a></li>
            <li><a href="politica.html">Politica interior</a></li>
            <li><a href="mujeres.html">Las mujeres de Ramsés II</a></li>
            <li><a href="hijos.html">Los hijos de Ramsés II</a></li>
            <li><a href="fallecimiento.html">Fallecimiento</a></li>
        </ul>
    </nav>
</header>

<script src="menu.js"></script>
<script>
    activar_menu("submenu");
</script>