<header>
    <nav>
        <ul id="menu">
            <li><a href="index.html">Rams&eacute;s II</a></li>
            <li><a href="presentacion.html">Introducci&oacute;n</a></li>
            <li><a href="categoria.html">Vida y Eventos</a></li>
            <li><a href="enlaces.html">Referencias</a></li>
        </ul>
    </nav>
</header>

<script src="menu.js"></script>
<script>
    activar_menu("menu");
</script>