:root {
    --text-color: #2A2A2A;
    --text-contrast: #FFFFFF;
    --color-contrast: #DC4A23;
    --color-contrast-light: #EB9781;
    --color-body: #FFF7E8;

    --color-bg1: #61764B;
    --color-bg2: #9BA17B;
    --color-bg3: #CFB997;
    --color-bg4: #FAD6A5;
}

* {
    box-sizing: border-box;
  }

/* Estilos por defecto */
html {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body {
    background-color: var(--color-body);
    color: var(--text-color);
    margin: 0;
}

/* Genericos */
ol, ul, figure {
    margin: 0;
}

ol, ul {
    padding: 1.0rem;
}

/* Conseguir que figcaption contenido respete el width del figure */
figure {
    display: table;
}

figure img {
    /* small screens - limitamos las imagenes */
    max-width: 300px;
    max-height: 500px;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: smaller;
    margin-bottom: 2em;
}

@media only screen and (min-width: 600px) {
    figure img {
        /* Dejamos las imagenes crecer a lo ancho, pero mantenemos el limite en alto */
        max-width: 100%;
    }
}

hr {
    /* Linea con color */
    background-color: var(--color-bg1);
    border: none;
    height: 2px;
}

a {
    text-decoration: none;
    color: var(--color-bg1)
}

a:hover {
    text-decoration: underline dotted;
    color: var(--color-contrast);
}

q {
    font-style: oblique;
}

/* Utilidades */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1em;
}

.column {
    display: flex;
    /* Columnas en small screens son filas */
    flex-direction: row;
    flex-basis: 100%;
}

.column:last-of-type {
    margin-top: 0.9em;
}

@media only screen and (min-width: 600px){
    .column {
        flex-direction: column;
        flex: 1;
    }

    .column:last-of-type {
        margin-top: initial;
    }
}

.text-right {
    text-align: right;
}


/* Pagina indice */
body.index {
    background-color: black;
    color: var(--text-contrast);
}

/* Cabecera ocupando el 100% de la pantalla y fijada al borde superior */
header {
    background-color: var(--color-bg2);
    color: var(--text-contrast);
    text-align: center;
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    letter-spacing: 0.1em;
}

header nav {
    margin: 10px 0px 10px 0px;
}

header nav ul {
    margin: 0;
    padding: 0;
    line-height: 150%;
}

header nav li {
    display: flow-root;
    margin: auto;
    max-width: fit-content;
}

header a {
    color: var(--text-contrast);
    text-decoration: none;
    font-weight: 600;
}

header li.active a {
    border-bottom: dotted 2px var(--text-contrast);
    font-weight: 900;
}

header a:hover {
    color: var(--text-color);
    border-bottom: dotted 2px var(--text-color);
    text-decoration: none;
}


@media only screen and (min-width: 600px) {
    header nav li {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;        
        margin-right: 2em;
    }
   
    header nav li:last-of-type {
        margin-right: 0;
    }
}

/* Footer */
footer {
    background-color: var(--color-bg1);
    color: var(--text-contrast);
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 50%;
    padding-left: 2em;
    font-size: small;
    font-weight: bolder;
}

footer::before {
    content: '';
    background: url(img/cartouche.png) repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
}

@media only screen and (min-width: 600px) {
    footer {
        letter-spacing: 0.05em;
        padding-left: 5em;
        padding-right: 5em;        
    }
}

/* Main contenido */
main {
    max-width: 75%;
    margin: auto;
    /* Espacio superior para el header fijo */
    margin-top: 80px;
    /* Espacio inferior para el footer fijo */
    margin-bottom: 100px;
    text-align: justify;
}

main.doublemenu {
    /* Espacio superior para el header fijo con doble menu */
    margin-top: 140px;
}

main h1 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

/* Excepcion - breakpoint a 700px para que el titulo no quede debajo del doble menu */
@media screen and (max-width: 700px) {
    /* Small screens */
    main {
        max-width: 300px;
        text-align: left;
    }

    main.doublemenu {
        margin-top: 320px;
    }

    main h1 {
        letter-spacing: 0em;
    }
}



/* Pagina especial - Indice */
main.index {
    padding: 0;
    /* Reset margin para el index */
    margin: auto;
    height: 100vh;
    max-width: 100%;   
}

main.index.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main.index div.item-left {
    flex: 75%;
}

main.index img {
    max-width: 100%;
    height: auto;
}

main.index div.item-right {
    flex: 25%;
    text-align: center;
}

main.index span {
    font-weight: 900;
    font-size: 5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    /* Small screens */
    main.index.flex-container {
        flex-direction: column;
    }

    main.index div.item-right {
        margin-top: 150px;
    }

    main.index div.item-left {
        flex: 100%;
    }
    
    main.index span {
        letter-spacing: 0;
    }
}

/* Secciones / parrafos */

/* clear float fix - sigue siendo necesario */
section::before, section::after {
    content: " ";
    display: table;
}

section::after {
    clear: both;
}

section > hr {
    display: block;
    /* Centramos verticalmente */
    margin: 50px 0 -20px;
    width: 100%;
    height: 1px;
    border: 0;
}
section > hr + h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 5px 10px;
    border-left: 1px solid var(--color-bg1);
    border-right: 1px solid var(--color-bg1);
    transform: translateX(-50%);
    color: var(--color-bg1);
    font-weight: 600;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-body);
}

section > hr + h2::first-letter {
    margin-left: 0.3em;
}

section ul {
    padding: 0;
    list-style: none;
    list-style-position: inside;
}

section ul > li::marker {
    content: "⇨ ";
    color: var(--color-bg1);
}

section ul > li > ul {
    margin: 0.5em 0 0.5em 2em;
}

/* Imagenes flotantes */
.left {
    float: left;
    margin-right: 1.5em;
}

.right {
    float: right;
    margin-left: 1.5em;
}

/* Notas al pie */
sup > a {
    font-size: smaller;
}

/* Seccion referencias */
section.footnotes > hr + h2 {
    left: 15%;
    color: var(--color-bg3);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    /* Small screens */
    section.footnotes > hr + h2 {
        letter-spacing: 0;
        left: 50%;
    }
}


section.footnotes > ol, section.referencias > ul {
    list-style-type: none;
    padding: 0;
    counter-reset: item-li;
}

section.footnotes > ol > li, section.referencias > ul > li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: var(--color-bg4);
    text-decoration: none;
    border-radius: .3em;
  } 

section.footnotes > ol > li::before, section.referencias > ul > li::before {
    content: counter(item-li);
    counter-increment: item-li;
    position: absolute;
    left: -1.3em;
    margin-top: -0.5em;
    background: var(--color-bg1);
    color: var(--text-contrast);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid var(--text-contrast);
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

section.footnotes > ol > li:hover::before, section.referencias > ul > li:hover::before {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Swiper - Carousel */
.swiper {
    width: 100%;
    height: 300px;
    text-align: center;
}

.swiper-slide img {
    height: 100%;
}
   

@media screen and (min-width: 600px) {
    .swiper {
        height: 600px;
    }
}


/* Table para Titulatura */
.table {
    overflow-x: auto;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    text-align: left;
    /* Centramos la tabla */
    margin: auto;
}

tr {
    background: var(--color-bg4);
    border-bottom: 4px solid var(--color-bg1);
}

thead th {
    border: none;
    padding: 1.5em 0.75em 1.5em 0.75em;
    font-weight: 600;
    text-transform: uppercase;
}
  
  
tbody tr {
    border-bottom: 4px solid var(--color-bg2);
}

tbody th, tbody td {
    border: none;
    padding: 0 1.5em 0 1.5em;
}

@media screen and (max-width: 600px) {
    /* Small screens */
    thead th {
        padding: 0 0.2em 0 0.2em;
    }
    tbody th, tbody td {
        padding: 0 0.2em 0 0.2em;
    }
}